.todolist-buttons {
    display: flex;
    /* justify-content: center; */
    width: 50vw;
    margin: 0 auto;
}

.todolist-border {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.todolist-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 15px;
    padding: 0;
    font-size: 30px;
    text-decoration: none;
}

.todolist-buttons button.active {
    border-bottom: 2px solid blue;
    /* Đường gạch dưới cho tab active */
}

.todolist-content {
    justify-content: center;
    margin: 0 auto;
    width: 50vw;
}